<div class="container-fluid">
  <div id="title">
    <div ng-switch on="list.name">
      <div ng-switch-when="">
        <h2>
          <input type="text" class="form-control" ng-model="$parent.listName" placeholder="New List Title" required>
        </h2>
      </div>
      <div ng-switch-default>
        <h2>{{list.name}}</h2>
      </div>
    </div>
  </div>
  <div id="list-container">
    <ul id="list">
      <li class="form-group checkbox" ng-repeat="item in list.items track by $index">
        <label>
          <input type="checkbox" ng-model="list.items[$index].complete"> {{item.text}}
        </label>
      </li>
      <li class="form-inline">
        <span class="btn btn-default btn-xs" ng-click="addItem(newItem)">+</span>
        <span>
          <input class="form-control"
          type="text"
          ng-model="newItem"
          ng-keypress="addItem(newItem, $event)"
          placeholder="add item">
        </span>
      </li>
    </ul>
    <button class="btn btn-default btn-sm" ng-click="save(listName)">save</button>
  </div>
</div>
