<div>
  <h2>Create a new list</h2>
  <input type="text" placeholder="My List Title">
  <ul>
    <li class="list-item" ng-repeat="item in list">
      <label>
        <!-- <input type="checkbox" ng-model="checkedItems[$index]">{{item.text}} -->
        <input type="checkbox" ng-model="list[$index].complete">{{item.text}}
      </label>
    </li>
  </ul>
  </form>
  <input type="text" ng-model="newItem" placeholder="add item"><br>
  <button ng-click="addItem(newItem)">add an item</button><br>
  <button ng-click="save()">save</button>
</div>
