html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  /*padding: 0;*/
}

html, body {
  height: 100%;
  width: 100%;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container-fluid {
  height: 100vh;
  width: 50%;
  padding: 0px;
  margin: 0 auto 0 auto;
  box-shadow: 1px 0px 5px #666666;
  overflow: scroll;
}

#title {
  padding: 20px 10px 20px 10px;
  text-align: center;
  background-color: #eeeeee;
}

#list-container {
  padding: 20px 50px 10px 50px;
}

#list {
  margin-bottom: 20px;
}

#list input[type="text"] {
  width: 500px;
}
